@font-face {
  font-family: "FUCXEDCAPS-Regular";
  src: url("/fucxedcaps-v2-webfont.woff2") format("woff2"),
    url("/fucxedcaps-v2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/CrimsonText-Regular.ttf") format("truetype"),
    url("/CrimsonText-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #000000;
  --festival: #fce86a;
  --festival-2: #fef1be;
  --festival-3: #feeaac;
  --red-violet: #c80a82;

  --font-size-body: 1rem;
  --font-size-lg: 3rem;
  --space: 3rem;
  --space-sm: calc(var(--space) / 2);

  --font-family-crimson_text: "Crimson Text", Helvetica;
  --font-family-fucxedcaps-regular: "FUCXEDCAPS-Regular", Helvetica;
}

@supports (padding: clamp(1rem, 1rem, 2rem)) {
  :root {
    --font-size-body: clamp(1rem, 1.5vw + 1rem, 2rem);
    --font-size-lg: clamp(2rem, 6.8vw + 1rem, 9rem);
    --space: clamp(1rem, 4vw + 1rem, 6rem);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-crimson_text);
  background-color: var(--festival-2);
  font-size: var(--font-size-body);
  line-height: 1.4;
  padding-bottom: var(--space);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
h1 {
  color: var(--red-violet);
}

a:hover,
a:focus {
  color: var(--black);
}

p {
  max-width: 60ch;
}

.logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 100px;
}

h1 {
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-lg);
  margin-top: 6rem;
  margin-bottom: var(--space-sm);
  letter-spacing: -0.1rem;
  line-height: 1;
  word-wrap: break-word;
  max-width: 20ch;
}

h1 span {
  display: block;
}

h1 span:first-child {
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-body);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: var(--black);
  margin-bottom: var(--space-sm);
}

/* Layout  */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 86rem;
  padding: 0 1rem;
  max-width: 100%;
}

@media (min-width: 40em) {
  .logo {
    max-width: 200px;
  }
}

@supports (padding: clamp(1rem, 5vw, 6rem)) {
  .wrapper {
    padding: 0 clamp(1rem, 5vw, 6rem);
  }

  .logo {
    max-width: clamp(100px, 30vw, 16rem);
  }

  h1 {
    margin-top: clamp(6rem, 15vw, 10rem);
  }

  @media (min-width: 40em) {
    .logo {
      max-width: clamp(100px, 30vw, 16rem);
    }
  }
}
