{{ define "main" }}
<main>
  <article>
    <div class="storycategories-container">
      <h1 class="storycategories__title">{{ .Title }}</h1>

      <div class="storycategories__content">{{ index .Content }}</div>

      {{ range .Pages }}
        {{ $img := .Params.image }}
        <section class="judges__section">
          <div class="judges__img-col">
            {{ if isset .Params "image" }}
              <img src="{{ $img }}" class="judges__img" alt="{{ .Title }}" />
            {{ end }}
          </div>
          
          <div class="judges__col">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
          </div>
        </section>
      {{ end }}
    </div>
  </article>
</main>
<style>
  body {
    --bgColor: var(--{{.Params.backgroundColor}});
    --titleColor: var(--{{ .Params.titleColor }});
    --ellipseColor: var(--{{ .Params.ellipseColor }});
    --bgEllipse: url({{ .Params.ellipse }});
    --grad: radial-gradient(circle at 50% 150vh, var(--ellipseColor, var(--jordy-blue)) 70vw, transparent 0);
  }
</style>
{{ end }}
