{{ define "main" }}
	<main class="main--story">
		<article>
			<div id="content-container">
				<h1 class="story__title">{{ .Title }}</h1>
				<p class="story__author">{{ .Params.author }}</p>
				{{ if isset .Params "image" }}
					<figure class="story__figure">
						<img src={{ .Params.image }} class="story__image" alt={{ .Params.altimage }} >
						<figcaption class="storyCaption">{{ .Params.imageCredit }}</figcaption>
					</figure>
				{{ else }}
					<figure class="story__figure story__figure--empty">
						<figcaption class="storyCaption">Image coming soon!</figcaption>
					</figure>
				{{ end }}
			</div>
			<div class="story__text-wrapper">
				<div class="container">
					<div class="story-text">
						{{ .Content }}
						<img src="/images/rectangle-43-19@1x.png" class="story__pencil">
					</div>
				</div>
			</div>
		</article>
	</main>

	<style>
		body {
			--paramsBGColor: var(--{{.Params.backgroundColor}});
			--paramsTitleColor: var(--{{.Params.titleColor}}, var(--banana-mania));
			--paramsEllipseColor: var(--{{.Params.ellipseColor}});
			--paramsTextBackgroundColor: var(--{{.Params.textBackgroundColor}});

			--bgColor: var(--paramsBGColor, var(--hopbush-3));
			--titleColor: var(--paramsTitleColor, var(--banana-mania));
			--ellipseColor: var(--paramsEllipseColor, var(--jordy-blue));
			--bgEllipse: url({{ .Params.ellipse }});
			--grad: radial-gradient(circle at 50% 150vh, var(--ellipseColor, var(--jordy-blue)) 70vw, transparent 0);
			--storyBgColor: var(--paramsTextBackgroundColor, var(--jordy-blue));
		}
	</style>
{{ end }}
