{{ define "main" }}
	<main class="main--story">
		<article>
			<div id="content-container">
				<h1 class="story__title">{{ .Title }}</h1>
				<p class="story__author">{{ .Params.author }}</p>
				<figure class="story__figure">
					<img src={{.Params.image}} class="story__image" alt={{.Params.altimage}} >
					<figcaption class="storyCaption">{{ .Params.imageCredit}}</figcaption>
				</figure>
			</div>
			<div class="story__text-wrapper">
				<div class="container">
					<div class="story-text">
						{{ .Content }}
						<img src="/images/rectangle-43-19@1x.png" class="story__pencil">
					</div>
				</div>
			</div>
		</article>
	</main>

	<style>
		body {
			background-color: var(--{{ .Params.backgroundColor }});
			background-image: url({{ .Params.ellipse }});
			background-repeat: no-repeat;
			background-position: 50% {{ .Params.ellipseypos }}; /* CHANGES POSITION OF SHAPE */
			background-size: 200% auto;
		}

		.ellipse-content {
    		background-color: var(--{{ .Params.ellipseColor }});
		}
		.story-text {
			background-color: var(--{{ .Params.textBackgroundColor }});
		}
		h1{
			color: var(--{{ .Params.titleColor }});
		}
		.dropdown-content {
  			background-color: var(--{{ .Params.backgroundColor }});
		}

		.ellipse-content {

    		top: {{ .Params.ellipseYPos}} !important;

  		}

		a{
  			color: var(--{{ .Params.titleColor }});

		}

		@media (max-width: 800px) {
			body {
    		background-position: -9999px -9999px;
 		 }
		
		}
	</style>
{{ end }}
